body {
   background: rgb(0,0,0);
   background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.980357108663778) 0%, rgba(112,0,0,1) 50%, rgba(112,0,0,1) 50%, rgba(0,0,0,1) 100%);

   margin: 0; /* Убираем отступы по умолчанию */
   padding: 0; /* Убираем внутренние отступы по умолчанию */
 }
 
 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 
 .container img {
   max-width: 20%;
   max-height: 20%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px; /* Отступ сверху */
}

.btn-group-vertical {
  margin-right: 0px; /* Отступ справа от кнопок */
}

.font-monospace {
  font-family: monospace;
  color: rgb(231, 0, 0); /* Білий колір тексту */
}

.image-and-text img {
  max-width: 5%; /* Максимальная ширина изображения */
}
